@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Share Tech Mono;
  src: url(./assets/ShareTechMono-Regular.ttf);
}

html{
  -webkit-tap-highlight-color: transparent;
}
body {
  background-image: url(./assets/bgm.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
